---
import Layout from '../layouts/Layout.astro';
import { getEntry } from 'astro:content';

const home = await getEntry('home', 'home');
if (!home) {
	throw new Error('Home page content not found');
}
const { Content } = await home.render();
---

<Layout title={home.data.title}>


 <main class="home">
		<section class="content">
			<h2>Building new site, check back soon.</h2>

				<!-- <h1 class="heading">{home.data.heading}</h1>
			<div class="intro">
				{home.data.intro.split('\n\n').map((paragraph) => (
					<p>{paragraph}</p>
				))}
			</div>-->
		</section>

		<!--<section class="content">
			<Content />
		</section>-->
	</main>
</Layout>

<style>
	.home {
		width: 100%;
		padding: var(--space-4) 0;
	}

	.content {
		width: 80vw;
		max-width: 1440px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		column-gap: var(--space-4);
		padding: var(--space-2) 0;
	}

	.heading {
		grid-column: 2 / span 3;
		font-size: var(--fs-lg);
		font-weight: 500;
		color: var(--colors-text-primary);
		margin: 0 0 var(--space-4) 0;
	}

	.intro {
		grid-column: 2 / span 3;
		margin-bottom: var(--space-4);
	}

	.intro p {
		font-size: var(--fs-base);
		line-height: 1.4;
		color: var(--colors-text-primary);
		margin: 0 0 var(--space-4) 0;
	}

	.content :global(h2) {
		grid-column: 1 / -1;
		font-size: var(--fs-lg);
		font-weight: 500;
		color: var(--colors-text-primary);
		margin-bottom: var(--space-4);
	}

	.content :global(.case-studies-grid) {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--space-4);
	}

	.content :global(.projects-grid) {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--space-4);
	}

	.content :global(.card) {
		color: inherit;
		transition: transform 0.2s ease;
		margin-bottom: var(--space-4);
	}

	.content :global(.card h3) {
		font-size: var(--fs-md);
		color: var(--colors-text-primary);
	}

	.content :global(.card h3 a) {
		color: var(--colors-text-primary);
		text-decoration: none;
	}
	.content :global(.card h3 a:hover) {
		color: var(--colors-text-primary);
		text-decoration: underline;
	}



	.content :global(.card h4) {
		font-size: var(--fs-base);
		color: var(--colors-text-primary);
		margin: var(--space-1) 0;
	}

	.content :global(.card p) {
		font-size: var(--fs-base);
		line-height: 1.5;
		color: var(--colors-text-primary);
		margin: 0 0 var(--space-2) 0;
	}

	.content :global(.card h5) {
		display: block;
		font-size: var(--fs-sm);
		font-weight: 500;
		color: var(--colors-text-secondary);
		text-transform: uppercase;
		letter-spacing: 0.05em;
		margin-bottom: var(--space-1);
	}

	.content :global(.card img) {
		width: 100%;
		aspect-ratio: 16/9;
		object-fit: cover;
		border-radius: var(--radius-lg);
		margin-bottom: var(--space-2);
		transition: filter 0.3s ease;	
	}

	.content :global(.card img:hover) {
		filter: brightness(0.5);
	}

	@media (max-width: 768px) {
		.content {
			width: 90vw;
			gap: var(--space-4);
		}

		.heading,
		.intro {
			grid-column: 1 / -1;
		}

		.content :global(.case-studies-grid),
		.content :global(.projects-grid) {
			grid-template-columns: 1fr;
		}
	}
</style>
